# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
ImageFilterC++/ImageFilterC++/Debug/vc142.pdb
ImageFilterC++/ImageFilterC++/Debug/vc142.idb
ImageFilterC++/ImageFilterC++/Debug/stdafx.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/unsuccessfulbuild
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/link.write.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/link.read.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/link.command.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/ImageFilterC++.lastbuildstate
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/CL.write.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/CL.read.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/CL.command.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.pch
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.log
ImageFilterC++/Debug/ImageFilterC++.pdb
ImageFilterC++/Debug/ImageFilterC++.ilk
ImageFilterC++/Debug/ImageFilterC++.exe
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/185491267ca5ced8/IMAGEFILTERC++.ipch
ImageFilterC++/.vs/ImageFilterC++/v16/Browse.VC.opendb
ImageFilterC++/.vs/ImageFilterC++/v16/Browse.VC.db
ImageFilterC++/.vs/ImageFilterC++/v16/.suo
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.Build.CppClean.log
*.log
*.obj
