# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
ImageFilterC++/ImageFilterC++/Debug/vc142.pdb
ImageFilterC++/ImageFilterC++/Debug/vc142.idb
ImageFilterC++/ImageFilterC++/Debug/stdafx.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/unsuccessfulbuild
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/link.write.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/link.read.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/link.command.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/ImageFilterC++.lastbuildstate
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/CL.write.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/CL.read.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.tlog/CL.command.1.tlog
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.pch
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.log
ImageFilterC++/Debug/ImageFilterC++.pdb
ImageFilterC++/Debug/ImageFilterC++.ilk
ImageFilterC++/Debug/ImageFilterC++.exe
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/185491267ca5ced8/IMAGEFILTERC++.ipch
ImageFilterC++/.vs/ImageFilterC++/v16/Browse.VC.opendb
ImageFilterC++/.vs/ImageFilterC++/v16/Browse.VC.db
ImageFilterC++/.vs/ImageFilterC++/v16/.suo
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.Build.CppClean.log
*.log
*.obj
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.obj
*.obj
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/4a7c0b355e61c7ae.ipch
ImageFilterC++/Release/ImageFilterC++.iobj
ImageFilterC++/Release/ImageFilterC++.ipdb
*.pdb
*.tlog
*.pch
ImageFilterC++/ImageFilterC++/Debug/ImageFilterC++.Build.CppClean.log
ImageFilterC++/ImageFilterC++/Debug/vc141.idb
ImageFilterC++/ImageFilterC++/ImageFilterC++.vcxproj
ImageFilterC++/Release/ImageFilterC++.exe
ImageFilterC++/Release/ImageFilterC++.exe
*.exe
ImageFilterC++/Release/ImageFilterC++.exe
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/8fa3e9975f610523/TIMER.ipch
ImageFilterC++/Release/ImageFilterC++.exe
ImageFilterC++/Release/ImageFilterC++.exe
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/17ec98f659e43846/LOADER.ipch
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/9a8926b44a24d65/LOADER.ipch
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/3c0f108896ec7f80/GDIPLUSENCODER.ipch
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/787e80ed7f060771/GDIPLUSDECODER.ipch
ImageFilterC++/.vs/ImageFilterC++/v16/ipch/AutoPCH/d06e00d6a57da711/GDIPLUSBASE.ipch
*.ipch
*.exe
*.log
*.txt
*.log
